$cl-item-active: purple;
$cl-item: #464a4e;

.nav-tree {
  & .__list {
    list-style: none;
  }
  & .__item {
    display: inline;
  }
  & .__link {
    position: relative;
    color: $cl-item;
    margin-right: 35px;
    padding: 10px 0;
    &:hover {
      color: $cl-item;
      text-decoration: none;
      border-bottom: 2px solid $cl-item-active;
    }
  }
}
