nav.nav-tree
  - var menu = [{name: "Home", href: "#"}, {name: "Porfolio", href: "#"}, {name: "Pages", href: "#"}, {name: "Elements", href: "#"}, {name: "Blog", href: "#"}, {name: "Shop", href: "#"}, {name: "Contact", href: "#"}] 
    ul.__list
      each item in menu
        li.__item
          a(href="#{item.href}").__link=item.name
