.row.justify-content-center.row_food
    .col-3
      .text_food
        .__name_food 
          p LASAGNA
        .__intro_food
          p We love fairy very much <3 <3 <3
          p Chúng em yêu tiên nữ hơn Bác Hồ yêu nước
          p Hahahaha
        p.__origin_food UNITED STATE of AMERICA
    .col-3
      .img_food
        img.__img(src="../../../../images/backgrounds/1600_1600_EEEEEE.png")
    .col-3
      .text_food
        .__name_food
          p.__first_line EGGPLANT
          p.__second_line PARMIGIANA
        .__intro_food
          p Nguoi gi deu dep het phan thien ha
          p Chung e yeu tien nu hon BAc Ho yeu nuoc 
          p Hahahaha
        p.__origin_food ITALIAN
    .col-3
      .img_food
        img.__img(src="../../../../images/backgrounds/1600_1600_EEEEEE.png")

  .row.justify-content-center.row_food 
    .col-3
      .img_food
        img.__img(src="../../../../images/backgrounds/1600_1600_EEEEEE.png")
    .col-3
      .text_food
        .__name_food
          p LASAGNA
        .__intro_food
          p Tien nu la niem nay man cua tui e
          p Chung e yeu tien nu hon BAc Ho yeu nuoc
          p Hahahaha
        p.__origin_food FROM FRANCH
    .col-3
      .img_food
        img.__img(src="../../../../images/backgrounds/1600_1600_EEEEEE.png")
    .col-3
      .text_food
        .__name_food
          p.__first_line SPAGHETTI WITH
          p.__second_line HEATBALLS
        .__intro_food 
          p  Moi ngay gap tien nu la mot ngay vui
          p Chung e yeu tien nu hon BAc Ho yeu nuoc
          p Hahahaha
        p.__origin_food UNITED STATE of AMERICA
