.container 
  img(src="../../../../images/backgrounds/1600_1600_EEEEEE.png", alt="")
  .intro_restaurant 
    table
      tr.row
        td.col1 
          .intro_restaurant__reservations
            h2.intro_restaurant__reservations.__h2 Reservations
            p.intro_restaurant__reservations.__p 
              |Contrary to popular belief, Lorem Ipsum is not simply random text. 
              |It has roots in a piece of classical Latin literature from 45 BC
            button.intro_restaurant__reservations.__btn SEARCH   
        td.col2 
          img(src="../../../../images/backgrounds/1600_1600_000000.png", alt="")
      tr.row 
        td.col3 
          img(src="../../../../images/backgrounds/1600_1600_000000.png", alt="")
        td.col4 
          .intro_restaurant__about 
            h2.intro_restaurant__about.__h2 About 
            p.intro_restaurant__about.__p 
              |It is a long established fact that a reader will be distracted by the 
              |readable content of a page when looking at its layout. The point of 
              |using Lorem Ipsum is that it has a more-or-less normal distribution 
              |of letters, as opposed to using 'Content here, content here'
              |making it look like readable English. Many desktop publishing 
              |packages and web page editors now use Lorem Ipsum as their 
              |default model text, and a search
