extends ../../../../../../../layouts/order.vidia.com.vn.jade
block content
  .container-fluid
      .row.my-3
          .col-md-12
              a(href="new.html").btn.btn-primary.float-right Thêm mới đơn hàng
      .row.my-3
          .col-md-12
              +table-bordered(["#","Mã", "Ưu tiên", "Nhân viên", "Tên", "Phân loại", "Số điện thoại", "Địa chỉ", "Tổng tiền", "Trả trước", "Khách hàng mới", "Ngày nhập đơn", "Ngày giao", "Sửa", "Xóa"],
              [["1","20170110005", "1", "Dương Văn Lâm", "Dương Văn A", "Phổ thông", "0941.500.550", "Biên Hòa - Đồng Nai", "5.000.000", "1.000.000", "", "Ngày nhập đơn", "Ngày giao", "", ""]])
