extends ../../../../../../../layouts/order.vidia.com.vn.jade
block content
  .container-fluid
    .row.my-3
      .col-md-12
        a(href="list.html").btn.btn-primary.float-left Quay lại - Danh sách
    h3 Thông tin khách hàng
    .row
      .col-sm-6
        +input("text", "order.customer.name","", "Tên Cty(*)", "order.customer.name")
      .col-sm-3
        +input("text", "order.customer.phoneNumber", "", "Số điện thoại(*)", "order.customer.phoneNumber")
      .col-sm-3
        +input("text", "order.customer.idCompany", "", "Mã số thuế(*)", "order.customer.idCompany")
    .row
      .col-sm-6
        +input("text", "order.customer.address", "", "Địa chỉ(*)", "order.customer.address")
      .col-sm-3
        +input("text", "order.customer.address.lat", "", "Tọa độ X", "order.customer.address.lat")
      .col-sm-3
        +input("text", "order.customer.address.long", "", "Tọa độ Y", "order.customer.address.long")
    .row
      .col-sm-12
        div
    h3 Thông tin cá nhân/tổ chức nhận đơn hàng
    .row
      .col-sm-6
        +checkbox("Giống thông tin trên","order.receivership.sameascustomer","order.receivership.sameascustomer")
    .row
      .col-sm-6
        +input("text", "order.receivership.name","", "Tên", "order.receivership.name")
      .col-sm-3
        +input("text", "order.receivership.phoneNumber", "", "Số điện thoại(*)", "order.receivership.phoneNumber")
    .row
      .col-sm-6
        +input("text", "order.receivership.address", "", "Địa chỉ(*)", "order.receivership.address")
      .col-sm-3
        +input("text", "order.receivership.address.lat", "", "Tọa độ X", "order.receivership.address.lat")
      .col-sm-3
        +input("text", "order.receivership.address.long", "", "Tọa độ Y", "order.receivership.address.long")
    .row
      .col-sm-12
        div
    .row
      .col-sm-3
        +input("text", "order.receivership.date.start", "", "Từ ngày", "order.receivership.date.start")
      .col-sm-3
        +input("text", "order.receivership.date.end", "", "Từ ngày", "order.receivership.date.end")
      .col-sm-3
        .form-group
          label(for="order.receivership.time.type") Thời gian nhận hàng
          select(name="order.receivership.time.type", id="order.receivership.time.type").form-control
            option(value="1") Trong ngày
            option(value="2") Giờ làm việc
            option(value="3") Ngoài giờ làm việc
    .row
      .col-sm-12
        .form-group
          label(for="order.receivership.note") Ghi chú
          textarea(name="order.receivership.note",id="order.receivership.note", rows="3").form-control
    h3 Thông tin đơn hàng
    .row
      .col-sm-3
        .form-group
          input(type="text", id="order.receivership.discount", name="order.receivership.discount", [(ngmodel)]="order.receivership.discount",placeholder="Chiết khấu ... Vnđ").form-control
      .offset-sm-6
      .col-sm-3
        .btn.btn-primary.float-right Thêm sản phẩm
    .row
      .col-sm-12.my-3
        +table-bordered(["#", "Tên sản phẩm", "Ghi chú", "Số lượng", "Thành tiền", "Xóa"],
        [["1", "Loa ABC", "Loa mới", "1", "1.000.000", ""]])
    .row
      .col-sm-12
        label(for="order.saler.note") Ghi chú
        textarea(name="order.saler.note",id="order.saler.note", rows="3").form-control
    .row
      .col-sm-12.my-3
        p Tổng tiền: 1.000.000 VND được lập bởi Dương Văn Lâm vào lúc 01/11/0218 10h01
    .row
      .col-sm-12
        +input("submit", "order.create", "", "Cập nhật", "order.create").btn.btn-primary