nav.navbar.navbar-expand-lg.navbar-light.fixed-top.w-100.menu_simple.menu__background
  a.navbar-brand.menu__brand(href='#')
    img(src='/images/logos/as.PNG',height="24")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown
        a.nav-link.menu__link Trang chủ
      li.nav-item.dropdown
        a.nav-link.menu__link Đơn hàng
    ul.navbar-nav.ml-auto
      li.nav-item.px-lg-3
        .input-group
          input(type="text" placeholder="Từ khóa").form-control
          .input-group-append
            input(type="submit" value="Tìm kiếm").btn.menu__search--btn
      li.nav-item.dropdown
        a#navbarDropdownRegister.nav-link.menu__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Đăng nhập
        .dropdown-menu(aria-labelledby='navbarDropdownRegister')
          a.dropdown-item(href='#') Google