extends ../../../../../layouts/as.com.vn.jade
block content
  include ./menu/default.jade
  include ../../../../partials/chat_box/chat_box_simple.html.jade             
  include ../../../../partials/header/header_intro_email.html.jade
  include ../../../../partials/header/header_welcome.html.jade
