.contain_text
  img.img_focus_text(src="./../../../../images/backgrounds/1600_1600_EEEEEE.png")
  .focus_text
    p.text-line-first
      |DEALS THIS WEEK
    p.text-line-second
      |Tụi em yêu tiên nữ hơn Bác Hồ yêu nước.<3Trang+Chíp abc
    p.text-line-third
      |SAVE 50%
  button.btn_shop_now(type="button")
