.focus_text
  img.__img(src="./../../../../images/backgrounds/1600_1600_EEEEEE.png")
  .__text
    p.__title
      |DEALS THIS WEEK
    p.__description
      | Lorem Ipsum is simply dummy text of the printing and typesetting 
    p.__sale
      |SAVE 50%
    button.__btn SHOP NOW
