.focus_text
  img.__img(src="./../../../../images/backgrounds/1600_1600_EEEEEE.png")
  .__text
    p.__text_line_first
      |DEALS THIS WEEK
    p.__text_line_second
      |CHÚNG EM YÊU TIÊN NỮ HƠN BÁC HỒ YÊU NƯỚC <3 TEAM BEATIFUL ANGLES
    p.__text_line_third
      |SAVE 50%
  button.__btn SHOP NOW
