extends ../../../../../layouts/_tree_site.jade
block content
  include ./../../../../partials/section/product_lg_group.html.jade
  include ./../../../../partials/text/focus_text.html.jade
  include ../../../../partials/navigation/nav_tree.html.jade
  include ../../../../partials/footer/footer_tree.html.jade 
  //- include ../../../../partials/header/header_tree.html.jade
