$chat-box_1__colorBackground: $cl-blue !default;
$chat-box_1__colorText: $cl-white !default;
$chat-box_1__colorBackgroundRightMessage: $cl-blue !default;
$chat-box_1__colorTextRightMessage: $cl-white !default;
$chat-box_1__colorBackgroundLeftMessage: $cl-orange !default;
$chat-box_1__colorTextLeftMessage: $cl-white !default;
.chat-box_1 {
    border: none;
    z-index: 99;

    &.__container {
        position: fixed;
        right: 8px;
        bottom: 8px;
        max-width: 280px;
    }
    & .__header {
        background: $chat-box_1__colorBackground;
        color: $chat-box_1__colorText;
        border: none;
    }
    & .__body {
        overflow: auto;
        max-height: 240px;
    }
    & .__input {
        border: none;
        padding-left: 4px;
        padding-top: 4px;
    }
    & .__btn {
        border: none;
        display: inline-block;
    }
    & .__text {
        max-width: 75%;
    }
    & .__footer {
        background: #fff;
    }
    & .__message {
        position: relative;
        &--right {
            background: $chat-box_1__colorBackgroundRightMessage;
            color: $chat-box_1__colorTextRightMessage;
            &:before {
                content: "";
                position: absolute;
                width: 19px;
                height: 15px;
                background: $chat-box_1__colorBackgroundRightMessage;
                right: -10px;
                bottom: 0px;
                border-radius: 50%;
            }
            &:after {
                content: "";
                position: absolute;
                width: 17px;
                height: 23px;
                background: #fff;
                right: -17px;
                bottom: 1px;
                border-radius: 50%;
            }
        }
        &--left {
            background: $chat-box_1__colorBackgroundLeftMessage;
            color: $chat-box_1__colorTextLeftMessage;
            &:before {
                content: "";
                position: absolute;
                width: 19px;
                height: 15px;
                background: $chat-box_1__colorBackgroundLeftMessage;
                left: -10px;
                bottom: 0px;
                border-radius: 50%;
            }
            &:after {
                content: "";
                position: absolute;
                width: 17px;
                height: 23px;
                background: #fff;
                left: -17px;
                bottom: 1px;
                border-radius: 50%;
            }
        }
    }
}