.chat-box_1.__container
  .card
    .card-header.__header
      .row
        .col-12
          a.panel-title.h6 Hỗ trợ khách hàng
          a.fa.fa-pull-right.fa-angle-double-down
    .card-body.small.__body
      .row
        .col-12
          .rounded.p-2.mb-2.float-left.__message.__message--left.__text Chào quý khách, vui lòng nhập thông tin quý khách cần hỗ trợ.
        .col-12
          .rounded.p-2.mb-2.float-right.__message.__message--right.__text Xin chào
    .card-footer.p-1.__footer
      form
        .input-group
          input.form-control.__input(type="text" placeholder="Nhập nội dung")
          button.btn.__btn(type="submit") Gửi