// Btn
$chat_box_simple__colorBackgroundBtnSubmit: $cl-blue !default;
$chat_box_simple__colorTextBtnSubmit: $cl-white !default;
// Header
$chat_box_simple__colorBackgroundHeader: $cl-blue !default;
$chat_box_simple__colorTextHeader: $cl-white !default;
// Body
$chat_box_simple__colorBackgroundBody: $cl-white !default;
// Footer
$chat_box_simple__colorBackgroundFooter: $cl-white !default;
// Right
$chat_box_simple__colorBackgroundRightMessage: $cl-blue !default;
$chat_box_simple__colorTextRightMessage: $cl-white !default;
// Left
$chat_box_simple__colorBackgroundLeftMessage: $cl-orange !default;
$chat_box_simple__colorTextLeftMessage: $cl-white !default;
.chat_box_simple {
    border: none;
    z-index: 99;
    &.__container {
        position: fixed;
        right: 8px;
        bottom: 8px;
        max-width: 280px;
    }
    & .__header {
        background: $chat_box_simple__colorBackgroundHeader;
        color: $chat_box_simple__colorTextHeader;
        border: none;
    }
    & .__body {
        overflow: auto;
        max-height: 240px;
    }
    & .__input {
        border: none;
        padding-left: 4px;
        padding-top: 4px;
    }
    & .__btn {
        &--submit {
            background-color: $chat_box_simple__colorBackgroundBtnSubmit;
            border: 1px solid $chat_box_simple__colorBackgroundBtnSubmit;
            color: $chat_box_simple__colorTextBtnSubmit;
        }
    }
    & .__text {
        max-width: 75%;
    }
    & .__footer {
        background: $chat_box_simple__colorBackgroundFooter;
    }
    & .__message {
        position: relative;
        &--right {
            background: $chat_box_simple__colorBackgroundRightMessage;
            color: $chat_box_simple__colorTextRightMessage;
            &:before {
                content: "";
                position: absolute;
                width: 19px;
                height: 15px;
                background: $chat_box_simple__colorBackgroundRightMessage;
                right: -10px;
                bottom: 0px;
                border-radius: 50%;
            }
            &:after {
                content: "";
                position: absolute;
                width: 17px;
                height: 23px;
                background: $chat_box_simple__colorBackgroundBody;
                right: -17px;
                bottom: 1px;
                border-radius: 50%;
            }
        }
        &--left {
            background: $chat_box_simple__colorBackgroundLeftMessage;
            color: $chat_box_simple__colorTextLeftMessage;
            &:before {
                content: "";
                position: absolute;
                width: 19px;
                height: 15px;
                background: $chat_box_simple__colorBackgroundLeftMessage;
                left: -10px;
                bottom: 0px;
                border-radius: 50%;
            }
            &:after {
                content: "";
                position: absolute;
                width: 17px;
                height: 23px;
                background: $chat_box_simple__colorBackgroundBody;
                left: -17px;
                bottom: 1px;
                border-radius: 50%;
            }
        }
    }
}