//------------------- BACKGROUND --------------------
$header-1-bg: url('./../images/backgrounds/background_1.jpg');
$header-2-bg: url('./../images/backgrounds/background_2.jpg');
$header-3-bg: url('./../images/backgrounds/background_3.jpeg');
//------------------- COLOR --------------------
// Common
$cl-white: #f8f8f8;
$cl-black: #333;
// Header
$cl-icons-bg: #0076FF;
$cl-btn-submit-bg: #0076FF;
$cl-btn-submit-border: #0076FF;
$cl-btn-menu-active: #0076FF;
// Timeline
$cl-section-title: #333;
$cl-section-sub-title: #777;
// Button
$cl-btn-learn-more: #777;
// Box
$cl-box-image: #777;
$cl-quote-bg: #eee;
// Footer
$cl-footer-bg: #2a2c2e;
$cl-footer-text: #a9a9a9;
$cl-footer-border: #424447;
$cl-footer-icon-bg: rgba(137,
137,
137,
0.4);
//------------------- FONT SIZE --------------------
// Common
$f-largest: 300%;
$f-larger: 150%;
$f-large: 125%;
$f-medium: 110%;
$f-regular: 100%;
$f-small: 90%;
$f-tiny: 75%;