//------------------- BACKGROUND -------------------
$bg-1600-1600-ffffff: url('/images/backgrounds/1600_1600_FFFFFF.PNG');
$bg-1600-1600-eeeeee: url('/images/backgrounds/1600_1600_EEEEEE.PNG');
//------------------- BACKGROUND -------------------
$lg-90-60-AS: url('/images/logos/as.PNG');
//------------------- COLOR -------------------
$cl-transparent: transparent;
$cl-light-white: #fff;
$cl-white: #f8f8f8;
$cl-dark-white: #ddd;
$cl-light-gray: #bbb;
$cl-gray: #999;
$cl-dark-gray: #777;
$cl-light-black: #555;
$cl-black: #333;
$cl-dark-black: #000;
$cl-red: #ff3b30;
$cl-orange: #ff9500;
$cl-yellow: #ffcc00;
$cl-green: #4cd964;
$cl-teal-blue: #5ac8fa;
$cl-blue: #0e7afe;
$cl-light-blue: #add8e6;
$cl-purple: #5856d6;
$cl-pink: #ff2d55;
// Common
$f-largest: 300%;
$f-larger: 150%;
$f-large: 125%;
$f-medium: 110%;
$f-regular: 100%;
$f-small: 90%;
$f-tiny: 75%;