extend ./../../../layouts/as.com.vn.jade
block content
  include ./../../partials/chat-box/chat-box_1.html.jade
  include ./../../partials/header/header_1.html.jade
  include ./../../partials/header/header_2.html.jade