extend ./../../../layouts/as.com.vn.jade
block content
  //-include ./../../partials/chat_box/chat_box_1.html.jade
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.w-100.menu_1.menu__background
    a.navbar-brand.menu__brand(href='#')
      img(src='/images/logos/as.PNG',height="30")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.dropdown
          a#navbarDropdownSolution.nav-link.menu__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Giải pháp
          .dropdown-menu(aria-labelledby='navbarDropdownSolution')
            a.dropdown-item(href='#') Doanh nghiệp
            a.dropdown-item(href='#') Cá nhân
        li.nav-item.dropdown
          a#navbarDropdownPrice.nav-link.menu__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Bảng giá
          .dropdown-menu(aria-labelledby='navbarDropdownPrice')
            a.dropdown-item(href='#') Doanh nghiệp
            a.dropdown-item(href='#') Cá nhân
        li.nav-item.dropdown
        li.nav-item.dropdown
          a#navbarDropdownSupport.nav-link.menu__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Chăm sóc khách hàng
          .dropdown-menu(aria-labelledby='navbarDropdownSupport')
            a.dropdown-item(href='#') Phản ánh/khiếu nại
            a.dropdown-item(href='#') Tư vấn
        li.nav-item.dropdown
          a#navbarDropdownCollaborators.nav-link.menu__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Cộng tác viên
          .dropdown-menu(aria-labelledby='navbarDropdownCollaborators')
            a.dropdown-item(href='#') Lập trình HTML/CSS/Javascript
            a.dropdown-item(href='#') Bán hàng
            a.dropdown-item(href='#') Quản trị
            .dropdown-divider
            a.dropdown-item(href='#') Đăng ký
        li.nav-item.dropdown
          a#navbarDropdownRegister.nav-link.menu__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Đăng nhập
          .dropdown-menu(aria-labelledby='navbarDropdownRegister')
            a.dropdown-item(href='#') Facebook
            a.dropdown-item(href='#') Google
            .dropdown-divider
            a.dropdown-item(href='#') Đăng nhập
            a.dropdown-item(href='#') Đăng ký
      ul.navbar-nav.ml-auto
        li.nav-item
          form.form-inline
            .input-group
              input(type="text" placeholder="Từ khóa").form-control.form-control-sm
              .input-group-append
                input(type="submit" value="Tìm kiếm").btn.btn-sm.menu__search--btn

  include ./../../partials/header/header_1.html.jade
  //-include ./../../partials/header/header_2.html.jade