extend ./../layouts/default.jade
block content
  body
    ul
      li
        a(href="sites/_tree-site/module/front/index.html") _Tree site
      li
        a(href="sites/as.com.vn/module/front/index.html") As.Com.Vn
      li
        a(href="sites/order.vidia.com.vn/module/order/index.html") Order.Vidia.Com.Vn
