$header_1__imageBackground: $bg-book-blur-dark !default;
$header_1__colorBackgroundIcon: $cl-blue !default;
$header_1__colorTextIcon: $cl-white !default;
$header_1__colorText: $cl-black !default;
$header_1__colorBorderEmail: $cl-dark-white !default;
.header_1 {
    background: $header_1__imageBackground no-repeat;
    &.__container {
        margin: auto;
    }
    & .__menu {
        padding-top: 8px;
    }
    & .__text {
        padding: 48px 0px 0px 0px;
    }
    & .__sologan {
        text-align: left;
        color: $header_1__colorText;
        text-transform: uppercase;
        font-weight: bold;
    }
    & .__services {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 8px;
        &--link {
            display: block;
        }
        &--icon {
            @include circle(30px);
            background: $header_1__colorBackgroundIcon;
            margin-left: 8px;
            color: $header_1__colorTextIcon;
            display: inline-block;
            position: relative;
            &>i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &--text {
            text-transform: capitalize;
            color: $header_1__colorText;
            display: inline-block;
            vertical-align: middle;
            padding-left: 8px;
        }
    }
    & .__register {
        &--label {
            font-weight: 500;
            text-transform: uppercase;
            color: $header_1__colorText;
        }
        padding: 48px 0px;
    }
    & .__input--email {
        height: 36px;
        width: 280px;
        padding: 0px 8px;
        border: 1px solid $header_1__colorBorderEmail;
        border-radius: 3px;
    }
}