$header_2__imageBackground: $bg-book-blur-dark !default;
$header_2__colorText: $cl-white !default;
.header_2 {
    &.__container {
        margin: auto;
    }
    & .__menu {
        padding-top: 8px;
    }
    background: $header_2__imageBackground no-repeat;
    text-align: center;
    & .__text {
        padding: 48px 0;
        color: $header_2__colorText;
    }
    & .__title {
        font-size: $f-largest;
        text-transform: capitalize;
        font-weight: bold;
    }
    & .__description {
        margin: 20px;
    }
    & .__btn {
        margin-top: 20px;
    }
}