//- header.header-tree
//-   +carousel("sample",[
//-     {image:"images/backgrounds/1600_1600_999999.jpg",caption:"Carousel Caption #1"},
//-     {image:"images/backgrounds/1600_1600_999999.jpg",caption:"Carousel Caption #2"},
//-     {image:"images/backgrounds/1600_1600_999999.jpg",caption:"Carousel Caption #3"},
//-     {image:"images/backgrounds/1600_1600_999999.jpg",caption:"Carousel Caption #4"}
//-   ])
