.header_1.h-100.menu_1.__container
  ul.nav.__menu
    - var menu=[{"text": "Home", "icon": "fa-home"}, {"text": "features", "icon": "fa-home"}, {"text": "features", "icon": "fa-home"}, {"text": "blog", "icon": "fa-home"}, {"text": "pages", "icon": "fa-home"}, {"text": "shortcodes", "icon": "fa-home"}, {"text": "", "icon": "fa-search"}, {"text": "", "icon": "fa-shopping-cart"}]
      each item in menu
        li.nav-item
          a(href="#").nav-link.menu__nav--link
            i.fa(class= item.icon)
            span=" " + item.text
  .row
  .col-sm-3.offset-sm-1
    .__text
      h3.__sologan impress every
        br
        | visitor!
      ul.__services
        - var links=[{"text": "responsive template", "icon": "fa-paper-plane"}, {"text": "retina ready", "icon": "fa-hand-o-right"}, {"text": "155+ HTML Pages", "icon": "fa-thumbs-up"}, {"text": "mailchimp intergrated", "icon": "fa-cog"}]
          each item in links
            li
              a.__services--link
                span.__services--icon
                  i.fa(class= item.icon)
                p.__services--text= item.text
    .__register
      p.__register--label register for a free demo!
      form.__form
        .input-group
          input(type="text" placeholder="Enter Your Email Address...").form-control
          .input-group-append
            input(type="submit" placeholder="Submit").btn.btn-primary
