.header_welcome.h-100.menu_simple.button_simple.__container
  ul.nav.__menu
    - var menu=[{"text": "Home", "icon": "fa-home"}, {"text": "features", "icon": "fa-home"}, {"text": "features", "icon": "fa-home"}, {"text": "blog", "icon": "fa-home"}, {"text": "pages", "icon": "fa-home"}, {"text": "shortcodes", "icon": "fa-home"}, {"text": "", "icon": "fa-search"}, {"text": "", "icon": "fa-shopping-cart"}]
      each item in menu
        li.nav-item
          a(href="#").nav-link.menu__nav--link
            i.fa(class= item.icon)
            span=" " + item.text
  .container-fluid
    .row
      .col-sm-6.offset-sm-3.__text
        h2.__title Welcome To Salt
        p.__description Your one stop solution for a stunning website
        button(type="button").btn.btn__circle know more
