.header_welcome.h-100.menu_simple.button_simple.__container
  .container-fluid
    .row
      .col-sm-6.offset-sm-3.__text
        h2.__title Welcome To Salt
        p.__description Your one stop solution for a stunning website
        button(type="button").btn.btn__circle know more
