.header_intro_email.h-100.__container.container-fluid
  .row
    .col-sm-4.offset-sm-1
      .__infor
        h3.__sologan 1-Click for alls
        ul.list-unstyled.__services
          - var links=[{"text": "Hơn 200 giao diện website", "icon": "fa-paper-plane"}, {"text": "Hỗ trợ SEO, Facebook, Google...", "icon": "fa-hand-o-right"}, {"text": "Dễ dàng tùy chỉnh giao diện - quản trị nội dung", "icon": "fa-thumbs-up"}, {"text": "Bảo mật website với SSL", "icon": "fa-cog"}]
            each item in links
              li
                a.__services--link
                  span.__services--icon
                    i.fa(class= item.icon)
                  p.__services--text= item.text
      .__register
        p.__register--label Sử dụng thử trong 7 ngày
        form.__form
          .input-group
            input(type="text" placeholder="Nhập Email của bạn").form-control
            .input-group-append
              input(type="submit" value="Dùng thử").btn.__btn--submit