extends ./../../../../../layouts/_food_site.jade
block content
  include ./../../../../partials/product/intro_restaurant.html.jade 
  include ./../../../../partials/header/header_food.html.jade
  include ./../../../../partials/banner/food_banner.html.jade
  include ./../../../../partials/product/food_group.html.jade
  include ./../../../../partials/menus/menu_food.html.jade
