// Group 3 image of product large PLANTS, VASES, SHELVE
@import '../product/product_lg';
.product_logo_image {
  margin: 50px 100px;
}
.image_left {
  &.__image--under {
      margin-top: 30px;
    }
}
.image_shelves {
  margin-left: 10px;
}
