meta(charset="UTF-8")
link(href="https://fonts.googleapis.com/css?family=Lato|Macondo|Slabo+27px"  rel="stylesheet")
.product_sale
  .__text.jumbotron.text-center
    p.__title
      |Hello World
    h2
      |New Arrivals
    .__line_active
    p
      |Hello everyone! My name's Chip. I'm from INSAL's team and I love team :)
      br
      |Tụi em yêu Tiên Nữ như Bác Hồ yêu nước - Chíp + Trang
  .__container
    .__img_medium_lable 
      p
        |SALE!
    .__list-img.row
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png")
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png")
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png") 
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png")
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00
    .__img_medium_lable
      p
        |NEXT! 
    .__list-img.row
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png")
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png")
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png")
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00
      .col-sm-3.__img_medium
        img.__img_product(src="./../../images/backgrounds/1600_1600_666666.png")
        .__product_rating.rating
          span ☆ 
            span ☆
              span ☆ 
                span ☆ 
                  span ☆
        p
          |text1
        p
          |$49.00



