.product_large_image
  .row
    .col-4
      .image_plants_vase
        img.image_left.__image--above(src="./../../images/backgrounds/1600_1600_EEEEEE.png")
        .text--above
          p.text_line_first
            |DIFFERENT KINDS OF
          p.text_line_second
            |PLANTS
        img.image_left.__image--under(src="./../../images/backgrounds/1600_1600_EEEEEE.png")
        .text--under
          p.text_line_first
            |NEW ARRIVALS OF
          p.text_line_second
            |VASES
    .col-8
      .image_shelves
        img.image_right(src="./../../images/backgrounds/1600_1600_EEEEEE.png")
        .text--right 
          p.text_line_first.text_line_first--text_right
            |COLLECTION OF
          p.text_line_second.text_line_second--text_right
            |SHELVES
      
  