extends ../../../../../layouts/order.vidia.com.vn.jade
block content
  include ./menu/default.jade
  .container-fluid
    .row
      .col-sm-12
        ul.list-unstyled
          li
            a(href="pages/order/list.html") Order - List
          li
            a(href="pages/order/new.html") Order - New
