$menu_1__colorBackgroundIcon: $cl-blue !default;
$menu_1__colorText: $cl-white !default;
$menu_1__colorBorder: $cl-white !default;
.menu_1 {
    & .menu {
        &__nav {
            &--link {
                text-transform: uppercase;
                color: $menu_1__colorText;
                &:hover {
                    background-color: $menu_1__colorBackgroundIcon;
                    border-radius: 3px;
                    text-decoration: none;
                }
            }
        }
    }
}