*{
  margin: 0;
  padding: 0;
}
.footer {
  position: relative;
  &__title {
    height: 180px;
    background: $cl-white;
    & .__h2 {
      height: 40px;
      color: $cl-black;
      @include location(absolute, 45px, 310px);
      @include font(700, Helvetica Arial sans-serif);
    }
  }
  &__btn {
    @include location(absolute, 52px, 280px);
    & .__button {
      @include font(700, initial);
      @include height(37px, $cl-light-white);
      width: 160px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      font-size: 14px;
      color: $cl-light-black;
      box-shadow: 7px 7px 5px -4px #888888;
    }
  }
  .footer-list {
    @include height(450px, $cl-black);
    .about-us {
      top: 330px;
      @include marginLeft(relative, 100px);
      &__h4 {
        @include fontTitle(absolute, -250px, $cl-light-white, sans-serif, 300, 20px);
      }
      &__hr {
        @include fontHr(absolute, -230px, 40px, 0.5px solid, $cl-light-gray);
      }
      &__list-item {
        position: relative;
        & .__img {
          height: 15px;
        }
        & .__span {
          @include location(absolute, 2px, 30px);
          color: $cl-light-gray;
          font-size: 15px;
        }
      }
    }
    .recent-new {
      @include marginLeft(relative, 510px);
      &__h4 {
        @include fontTitle(absolute, 7px, $cl-light-white, sans-serif, 300, 20px);
      }
      &__hr {
        @include fontHr(absolute, 28px, 40px, 0.5px solid, $cl-light-gray);
      }
      &__new1 {
        padding-top: 110px;
      }
      &__new2 {
        padding-top: 25px;
      }
      &__new3 {
        padding-top: 25px;
      }
    }
    .our-gallery {
      @include location(absolute, 6px, 880px);
      &__h4 {
        @include fontTitle(absolute, 255px, $cl-light-white, sans-serif, 300, 20px);
      }
      &__hr {
        @include fontHr(absolute, 275px, 40px, 0.5px solid, $cl-light-gray);
      }
    }
    .link {
      text-align: center;
      margin-top: 30px;
      &__p {
        font-size: 15px;
        color: $cl-light-gray;
        &:hover {
          color: $cl-white;
        }
      }
    }
    .btn-right {
      @include location(absolute, 580px, 1240px);
      &__button {
        background: $cl-light-white;
        border: 1px solid white;
        width: 35px;
        & .__img {
          height: 30px;
        }
      }
    }
  }
  &__coppyright {
    @include height(48px, $cl-dark-black);
  }
}
.recent-new {
  img {
    height: 50px;
  }
}
.list-img {
  margin-top: 355px;
  .img-group {
    margin-bottom: 5px;
    &__item {
      display: inline-table;
      margin-right: 5px;
      margin-top: 5px;
      & .__img {
        height: 60px;
      }
    }
  }
}
