doctype html
html(lang="vi")
  head
    title AllSite
    meta(charset="UTF-8")
    link(href='/styles/main.css', rel='stylesheet')
    link(href='themes/default.css', rel='stylesheet')
  body
    block content
