include ../../node_modules/jade-bootstrap/_bootstrap.jade
doctype html
html(lang="vi")
  head
    title Vidia
    meta(charset="UTF-8")
    link(href='/sites/order.vidia.com.vn/module/order/themes/default.css', rel='stylesheet')
    script(type='text/javascript', src='/lib/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='/lib/popper.js/1.11.0/popper.min.js')
    script(type='text/javascript', src='/lib/bootstrap/4.0.0-beta/bootstrap.min.js')
  body(style="padding-top: 54px;")
    block content
