$colorBackgroundIcon: $cl-blue;
$colorText: $cl-white;
.button_1 {
     cursor: pointer;
     outline: none;
     & .btn {
         &__circle {
             @include btnBorder(25px, $colorText, uppercase);
             &:hover {
                 color: $colorText;
                 background-color: $colorBackgroundIcon;
                 border-color: $colorBackgroundIcon;
             }
         }
         &__border {
             @include btnBorder(4px, $colorBackgroundIcon, uppercase);
         }
     }
 }